---

---
.post-title-image {
    display: flex;
    align-items: center;
    
  }
  
  .post-image {
    max-width: 5%; /* Adjust the size as needed */
    margin-right: 15px; /* Adjust the spacing as needed */
    margin-bottom: 15px; 
  }
  .post-banner{
    
    max-height: 300px; /* Adjust the desired height */
    object-fit: cover; 
    margin: 0 auto;
    display: block
  }
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";